body{   
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}

.load{
    margin-top: 140px;
}

.load-p{
    text-align: center;
}

.wait{
    margin-top: 100px;
    text-align: center;
}

.loading{
    width: 40px;
    height: 40px;
    background-color: rgb(226, 43, 43);
    margin-top: 225px;
    position: absolute;
    border-radius: 50px;
    left: 445px;
}

input{
    text-align: center;
    padding: 30px;
    background-color: cornflowerblue;
    background-color: brown;
    border-radius: 20px;
    margin-top: 100px;
}

button{
    text-align: center;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 10px;
}

span{
    color: red;
}